@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 330 100% 99%;
    --foreground: 330 100% 10%;
    --card: 330 100% 99%;
    --card-foreground: 330 100% 10%;
    --popover: 330 100% 99%;
    --popover-foreground: 330 100% 10%;
    --primary: 330 100% 70%;
    --primary-foreground: 0 0% 100%;
    --secondary: 330 100% 92%;
    --secondary-foreground: 330 100% 30%;
    --muted: 330 100% 96%;
    --muted-foreground: 330 100% 50%;
    --accent: 330 100% 90%;
    --accent-foreground: 330 100% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 330 100% 90%;
    --input: 330 100% 90%;
    --ring: 330 100% 70%;
    --chart-1: 330 100% 70%;
    --chart-2: 340 90% 80%;
    --chart-3: 350 85% 60%;
    --chart-4: 325 90% 80%;
    --chart-5: 320 80% 70%;
    --radius: 0.5rem
  }
  .dark {
    --background: 330 40% 14%;
    --foreground: 330 100% 99%;
    --card: 330 40% 18%;
    --card-foreground: 330 100% 99%;
    --popover: 330 40% 18%;
    --popover-foreground: 330 100% 99%;
    --primary: 330 100% 80%;
    --primary-foreground: 330 40% 18%;
    --secondary: 330 20% 25%;
    --secondary-foreground: 330 100% 99%;
    --muted: 330 20% 18%;
    --muted-foreground: 330 100% 85%;
    --accent: 330 20% 25%;
    --accent-foreground: 330 100% 99%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 330 40% 25%;
    --input: 330 40% 25%;
    --ring: 330 100% 80%;
    --chart-1: 330 100% 80%;
    --chart-2: 340 90% 70%;
    --chart-3: 350 85% 60%;
    --chart-4: 325 90% 80%;
    --chart-5: 320 80% 70%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
